<header>
  <mat-toolbar>
    <span routerLink="/" class="service-icon">
      Task Cabinet
    </span>
    <div *ngIf="isLoggedIn(); then logout; else login"></div>
    <ng-template #logout>
      <button mat-button color="warn" class="right" (click)="pushLogout()">ログアウト</button>
    </ng-template>
    <ng-template #login>
      <div class="right">
        <button mat-button color="primary" routerLink="/sign-in">ログイン</button>
        <button mat-button color="primary" routerLink="/sign-up">サインアップ</button>
      </div>
    </ng-template>
  </mat-toolbar>
</header>
<main>
  <div fxLayout="row" fxLayoutAlign="center">
    <div *ngIf="getErrorAlert() !== ''"
         class="alert alert-danger" role="alert"
         fxFlex.lg="70" fxFlex.md="60" fxFlex.sm="70" fxFlex.xs="95">
      <button type="button" class="close-alert" (click)="closeErrorAlert()">×</button>
      <i class="material-icons">error</i>
      {{ getErrorAlert() }}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div *ngIf="getSuccessAlert() !== ''"
         class="alert alert-success" role="alert"
         fxFlex.lg="70" fxFlex.md="60" fxFlex.sm="70" fxFlex.xs="95">
      <button type="button" class="close-alert" (click)="closeSuccessAlert()">×</button>
      <i class="material-icons">info</i>
      {{ getSuccessAlert() }}
    </div>
  </div>
  <ng-content></ng-content>
</main>
