<app-layout>
  <mat-card *ngFor="let task of taskList">
    <mat-card-title>{{task.name}}</mat-card-title>
    <table>
      <tbody>
        <tr>
          <th>期限</th>
          <td>{{task.deadline}}</td>
        </tr>
        <tr>
          <th>見積もり</th>
          <td>
            <mat-progress-bar [value]="task.estimate"></mat-progress-bar>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="done-button-wrapper">
      <button mat-button>
        <mat-icon>done</mat-icon>
        <span>完了</span>
      </button>
    </div>
  </mat-card>
  <a mat-fab class="add-button" aria-label="タスクを追加" routerLink="/add">
    <mat-icon>add</mat-icon>
  </a>
</app-layout>
