.container {
  margin-right: auto;
  margin-left: auto;
  width: 80vw;
}

.top-section {
  position: relative;
  overflow: hidden;
  background-image: url(../assets/img/top-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service-description {
  display: table;
  width: 100%;
  height: calc(100vh - 5rem);
}

.service-description-inner {
  vertical-align: middle;
  display: table-cell;
}

.service-title {
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 55px;
  line-height: 1.18;
  color: white;
}

.service-description-content {
  font-size: 15px;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 57px;
}

.top-section.container {
  padding: 0 2em;
  height: calc(100vh - 5rem);
}

.login-button {
  color: #26a84e;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  outline: none;
}

.top-footer {
  padding: 130px 0 25px;
}

.top-footer hr {
  background-color: #cad7dc;
  margin-top: 50px;
  margin-bottom: 25px;
}

.copy-right {
  font-family: roboto,sans-serif;
  line-height: 2;
  font-size: 15px;
  margin-bottom: 0;
  color: #7f7f7f;
  font-weight: 300;
}
