<app-layout>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input [(ngModel)]="email"
             autocomplete
             autofocus
             matInput
             name="email"
             placeholder="メールアドレス"
             required
             type="text">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="password"
             autocomplete
             matInput
             name="password"
             placeholder="パスワード"
             required
             type="password">
    </mat-form-field>
    <button aria-label="ログイン"
            color="accent"
            mat-button
            mat-raised-button
            type="submit">
      ログイン
    </button>
  </form>
</app-layout>
