mat-card {
  margin: 0.5rem;
}

mat-icon + span {
  padding-left: 0.5rem;
}

mat-slider {
  width: 100%;
}

table {
  width: 100%;
}

.changePushNoticeState-button-wrapper {
  text-align: right;
  padding: 1rem;
}

.add-button {
  bottom: 1rem;
  position: fixed;
  right: 1rem;
}

.done-button-wrapper {
  text-align: right;
}

.spacer {
  height: 5rem;
}

.task-header {
  font-weight: bold;
}

.task-deadline {
  position: absolute;
  left: 1px;
}
