<app-layout>
  <mat-card *ngFor="let task of taskList">
    <mat-card-title>{{task.name}}</mat-card-title>
    <mat-grid-list cols="4" rowHeight="2rem">
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="task-header">
        期限
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1" class="task-deadline">
        <div class="task-deadline">
          {{ formatDatetime(task.deadline) }}
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" class="task-header">
        見積もり
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" class="task-deadline">
        <mat-progress-bar [value]="task.estimate"></mat-progress-bar>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="done-button-wrapper">
      <button mat-button (click)="doneTask(task)">
        <mat-icon>done</mat-icon>
        <span>完了</span>
      </button>
    </div>
  </mat-card>
  <a mat-fab class="add-button" aria-label="タスクを追加" routerLink="/add">
    <mat-icon>add</mat-icon>
  </a>
  <div class="spacer"></div>
</app-layout>
